*{
    box-sizing: border-box;
}

.row
{
    width: 100%;
}

h1{
    font-family: Lucida Console;
    font-size: 175%;

    text-align: center;
    margin-bottom: 20px;
}

.box
{
    position: relative;
    background-color: gainsboro;
    width: 90%;
    height: 170px;
    margin-left:auto;
    margin-right:auto;

    margin-bottom: 15px;
    border: 1px solid black;
}

section
{
    font-family: Consolas;
    font-size: 125%;

    position: absolute;
    top: 0px;
    right: 0px;
    height: 20px;
    width: 20%;

    text-align: center;
    padding-bottom: 20px;

    border: 1px solid black;
}

#Grass
{
    background-color: green;
}

#Fire
{
    background-color: orangered;
}

#Water
{
    background-color: lightblue;
}

article
{
    font-family: Courier;

    position: relative;
    top: 25px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
    .column-desktop-third {
      float: left;
    }
    .column-desktop-third {
      width: 33.33%;
    }
  }
  
  /********** Medium devices only **********/
  @media (min-width: 950px) and (max-width: 1199px) {
    .column-tablet-half, .column-tablet-full {
      float: left;
    }
    .column-tablet-half {
      width: 50%;
    }
    .column-tablet-full {
      width: 100%;
    }
  }